<div {{ attributes }} data-poll="delay(500)|$render">
    <ul class="list-group">
        {% for participant in this.participants %}
            <li class="list-group-item">{{ participant.name }}</li>
        {% endfor %}
    </ul>
</div>
